input:checked~span {
  text-decoration: line-through;
  color: grey;
}

*:focus {
  box-shadow: none;
}

.toDoBlock {

  li {
    border-width: 2px;
    padding: 10px 0;
    float: left;
    width: 100%;
    -webkit-transition: all 0.2s ease 0.2s;
    transition: all 0.2s ease 0.2s;
  }

  li.toDoBlock__list--taskDone {
    text-decoration: line-through;
    background: #cccccc1c;
  }

  li:last-child {
    margin: 0 !important;
  }

  &--submit {
    color: #fff;
    border: 1px solid #fff;
    border-left: 0;
  }

  &__list {
    background-size: cover;
    background-position: top;
    float: left;
    padding: 10px;
    list-style: none;
    -webkit-transition: all 0.5s ease 1s;
    transition: all 0.5s ease 0.5s;
    background: #fff;
    min-width: 160px;
    color: #000;
    min-height: 77px;

    &--close {
      float: right;
      width: 20px;
      background: url('../assets/close.png') no-repeat;
      height: 20px;
      background-position: center;
      background-size: 89%;
      margin: 0;
      position: absolute;
      right: 0;
    }

    &--taskText span {
      float: left;
      line-height: normal;
    }

    &--desc {
      padding-right: 40px;
    }

    &--checkBoxLabel {
      display: block;
      position: relative;
      margin: auto;
      cursor: pointer;
      font-size: 18px;
      padding-left: 25px;
      clear: both;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      input:checked~.checkbox-custom {
        background-color: #009BFF;
        border-radius: 5px;
        -webkit-transform: rotate(0deg) scale(1);
        -ms-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
        opacity: 1;
        border: 2px solid #009BFF;
      }

      .checkbox-custom {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 24px;
        width: 24px;
        background-color: transparent;
        border-radius: 5px;
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        border: 2px solid #009BFF;
      }

      input:checked~.checkbox-custom::after {
        -webkit-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1);
        opacity: 1;
        left: 8px;
        top: 3px;
        width: 6px;
        height: 12px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        background-color: transparent;
        border-radius: 0;
      }

      .checkbox-custom::after {
        position: absolute;
        content: "";
        left: 12px;
        top: 12px;
        height: 0px;
        width: 0px;
        border-radius: 5px;
        border: solid #FFFFFF;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(0deg) scale(0);
        -ms-transform: rotate(0deg) scale(0);
        transform: rotate(0deg) scale(0);
        opacity: 1;
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
      }

      input:checked~.checkbox-custom::before {
        left: -3px;
        top: -3px;
        width: 24px;
        height: 24px;
        border-radius: 5px;
        -webkit-transform: scale(3);
        -ms-transform: scale(3);
        transform: scale(3);
        opacity: 0;
        z-index: 999;
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
      }

      .checkbox-custom::before {
        position: absolute;
        content: "";
        left: 10px;
        top: 10px;
        width: 0px;
        height: 0px;
        border-radius: 5px;
        border: 2px solid #009BFF;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
      }
    }

  }
}
